<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrabajoPrácticoPAV.Properties.Settings.BD3K6G07_2021ConnectionString"
            connectionString="Data Source=200.69.137.167,11333;Initial Catalog=BD3K6G07_2021;User ID=BD3K6G07_2021"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>